<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>My Angular Page</title>
    <script src="vendor/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="vendor/base64decode.js" type="text/javascript" charset="utf-8"></script>

    <script src="vendor/live.js" type="text/javascript" charset="utf-8"></script>

    <script src="scripts/myApp.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body ng-app="myApp">
    <div ng-controller="LoginController">
      <h1>Hello Angular!</h1>
      <p>{{message}}</p>
      <form ng-submit="submit()">
        <input type="text" name="user" ng-model="user" placeholder="User" />
        <input type="password" name="password" ng-model="password" placeholder="Password" />
        <input type="submit" name="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
